<!-- Top Bar for "Track Order" and User Actions -->
<div class="bg-gray-800 text-gray-300 py-1 px-4 flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <span class="material-icons text-white">local_shipping</span>
      <span>Track Order</span>
    </div>
    <div *ngIf="!token" class="space-x-4">
      <a href="/signup" class="hover:text-white" >Signup</a>
      <a href="/login" class="hover:text-white" >Login</a>
    </div>

    <div *ngIf="token" class="space-x-4" (click)="logout()">
      
      <a href="/login" class="hover:text-white" >Logout</a>
    </div>
  </div>
  
  <!-- Main Navbar -->
  
  
